*{
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}
.wrapper{
    width: 100%;
   display:none;
}
.wrapper .main{
    width: 100%;
    height: 860px;
/*    background: url(../img/valentino/v_main2.jpg) ;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;*/
}

/* 이미지 위에 TEXT 설정   */
.jb-wrap {
   width: 100%;
   height: 150px;
   margin: 10px auto;
   position: relative;
}
.jb-wrap .jb-image {
   filter: brightness(30%);
   vertical-align: middle;
   width: 100%;
   height:150px;
   -webkit-background-size: cover;
   background-size: cover;
   background-position: 0 550px;
}
.jb-wrap .jb-image.runway1{
   background-image: url(../img/valentino/runway1.gif);
}
.jb-wrap .jb-image.runway2{
   background-image: url(../img/valentino/runway2.gif);
}
.jb-wrap .jb-image.runway3{
   background-image: url(../img/valentino/runway3.gif);
}
.jb-wrap .jb-text {
   font-size:60px;
   color:white;
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}/* 이미지 위에  TEXT 설정 끝  */
/* 슬라이드 */
.box01 .combine{
   width:50%;
   height: 100%;
   float: left;
}
#slide{
   height: 100%;
   position: relative;
   overflow: hidden;
}
#slide ul{
   width: 400%;
   height: 100%;
   background-color: rgb(241, 237, 233);
   transition:0.5s;
}
#slide li{
   float:left;
   width:25%;
   height:100%;
   z-index: 1;
   background-color: rgb(241, 237, 233);
}
#slide img{
   width:73%;
}


#slide label{display:none;}
   
#color{
   animation: color 70s linear infinite alternate;
}

.swiper-wrapper .swiper-slide{
   width: 100%;
   height: 860px;
   -webkit-background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
}
.swiper-wrapper .swiper-slide:nth-child(1){
   background-image: url(../img/valentino/v_main5.jpg);
   background-position: 80% 0;
}
.swiper-wrapper .swiper-slide:nth-child(2){
   background-image: url(../img/valentino/v_main3.jpg);
   background-position: 50%;
}
.swiper-wrapper .swiper-slide:nth-child(3){
   background-image: url(../img/valentino/v_main4.jpg);
   background-position: 70%
}

@keyframes color{
   from{margin-left:0%;}
   to{margin-left:-200%;}
}/* 슬라이드 끝 */
/* 이미지 hover */
.sub img:hover{
   filter:brightness(105%);
}/* 이미지 hover 끝 */
/* LightBox 설정 */
#lightbox{
   position: fixed;
   z-index: 1000;
   top:0;
   width: 100%;
   height: 100%;
   background-color : rgba(0, 0, 0, .8);
   display:none;
   opacity: 1.0;
}
#lightbox.active{
   display:flex;
   justify-content: center;
   align-items: center;
}
#lightbox #popimg{
   max-width: 90%;
   max-height: 80%;
   
}
/* LightBox 설정 끝 */
.box01 {
   width: 100%;
   height: auto;
}
.box01 .v_bag{
   width:100%;
   height: auto;
   float: left;
}
.box01 .v_bag .sub{
   width: 100%;
   height: auto;
    margin-bottom: 15px;
}
.box01 .v_bag .subwrapper{
   width: 50%;
   float:left;
}
.box01 .v_bag .sub img{
   width:24%;
   height: 100%;
   margin-right: 1%;
   margin-top:3px;
   float: left;
   cursor:pointer;
}
/* front 화면 */
#front {
  width :100%;
  height:794px;
  background: #000;
  padding: 2rem;
  display:block;
  cursor:none;
}
#front.active{
   display: none;
}

#front h2 {
  font-family: 'Arial';
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 128px;
  line-height: 0.75;
}

span {
  display: block;
}

#front span:not(#light) {
  opacity: 0;
  animation: flashText 3s ease-out alternate infinite;
}

#front span#light {
  position: relative;
  display: inline-block;
}

@keyframes flash{
  to {
    opacity: 1;
  }
}

@keyframes flashText {
  to {
    opacity: 0.3;
  }
}
/* front 화면 끝 */
/* 미디어 설정 */
@media (min-width: 1025px) and (max-width: 1280px) {
   
.box01 {
    width: 100%;
}
.box01 .v_bag {
    width: 100%;
}
.box01 .v_bag .subwrapper{
   width:100%;
}
#slide {
   padding-top:10px;
}
#slide img{
   width:40%;
}
.box01 .combine {
    width: 100%;
}

}

@media (min-width: 768px) and (max-width: 1024px) {

.box01 .combine {
    display: none;
}
.box01 .v_bag {
    width: 100%;
}
.box01 .v_bag .subwrapper{
   width: 100%;
}

}


@media (min-width: 581px) and (max-width: 767px) {
  .wrapper .main{
  height: 600px;
}
#front h2 {
  font-size: 70px;
}
h2 {
  font-size: 80px;
}
.box01 .combine {
    display: none;
}
.box01 .v_bag .subwrapper{
   width: 100%;
}
.jb-wrap .jb-text {
   width: 80%;
   text-align: center;
}


}


@media (min-width: 320px) and (max-width: 580px) {
.wrapper .main{
  height: 500px;
}

  /*하나씩 보이도록 이미지가 */
.box01 .combine {
    display: none;
}
.box01 .v_bag .subwrapper{
   width: 100%;
}
.box01 .v_bag .sub img {
    width: 49%;
}
#front h2 {
  font-size: 50px;
}
h2 {
  font-size: 60px;
}
.jb-wrap .jb-text {
   width: 80%;
   text-align: center;
}
}
/* 미디어 설정 */